.test-image {
  width: 200px;
  height: 170px;
  overflow: hidden;
  float: left;
  margin-right: 15px;
}
.test-image2 {
  width: 200px;
  height: 170px;
  background-image: url("images/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
  background-size: cover;
  background-position: center;
  float: left;
}
img {
  max-width: 100%;
}
section {
  clear: both;
}
.padding-margin {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  margin: 15px;
  padding: 15px;
  float: left;
}

.float {
  float: left;
  width: 150px;
  height: 150px;
  border: 1px solid black;
}
.flex {
  display: flex;
}
.background {
  float: left;
  width: 150px;
  height: 150px;
  background-color: red;
}
.position-relative {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: green;
}
.position-absolute {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: purple;
}
.position-fixed {
  position: fixed;
  width: 150px;
  height: 150px;
  background-color: blue;
  top: 0;
}
.shadow {
  box-shadow: 0 0 10px black;
  width: 300px;
}
.text-shadow {
  text-shadow: 2px 2px 10px black;
}
